.articles-section {
  background-color: $primary-color;
}

.articles-section-title {
  text-align: center;
  font-size: 36px;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
}
.articles-section-title::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  left: 50%;
  bottom: -38px;
  transform: translateX(-50%);
  background-color: $primary-text-color;
}

.articles-list {
  margin-top: 94px;
}

.articles-item {
  display: grid;
  grid-template-columns: auto auto;
  &__image-block {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 990px;
    overflow: hidden;
    height: 437px;
  }
  &__image {
    height: 100%;
    max-width: 990px;
  }
  &__content-block {
    max-width: 800px;
    padding: 53px 25px 53px 25px;
  }
  &__content {
    margin: 0 auto;
    max-width: 628px;
  }
  &__title {
    font-family: PT Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  &__text {
    margin-top: 14px;
    font-family: PT Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  &__bottom-block {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 130px auto;
    justify-items: end;
    align-items: end;
  }
  &__tags-block {
    max-width: 470px;
  }
  &__tag-list {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  &__tag {
    font-family: PT Sans;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  &__tag:not(:first-child) {
    margin-left: 12px;
  }
}

@media screen and (max-width: 1050px) {
  .articles-item {
    grid-template-columns: auto;
    justify-content: center;
    &__image-block {
      max-width: 990px;
      height: 297px;
    }
    &__content-block {
      // max-width: 800px;
      // padding: 53px 25px 53px 25px;
      height: auto;
    }
    &__bottom-block {
      margin-top: 40px;
      display: grid;
      grid-template-columns: auto;
    }
  }
  //   .articles-section-title::after {
  //     content: "";
  //     position: absolute;
  //     width: 120px;
  //     height: 1px;
  //     bottom: -38px;
  //     transform: translateX(-150%);
  //     background-color: $primary-text-color;
  //   }
}
