.hero-section {
  height: 810px;
  background: url(../images/hero/hero_background.png);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero {
  color: $primary-text-color;
  text-align: center;
  font-family: PT Sans;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;

  &__logo {
    margin: 0 auto;
    width: 320px;
    height: 320px;
    border: solid 4px $primary-text-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__logo-name {
    font-family: Post No Bills Jaffna;
    font-size: 64px;
    display: inline-block;
    width: 185px;
    padding-bottom: 20px;
    border-bottom: solid 2px;
  }

  &__logo-location {
    margin-top: 10px;
    font-size: 22px;
    text-transform: uppercase;
  }
  &__text {
    margin-top: 80px;
    width: 735px;
  }
}

@media screen and (max-width: 767px) {
  .hero__text {
    width: 320px;
  }
}
