.new-collection-section {
  background-color: $primary-color;
}

.new-collection {
  height: 730px;
  display: grid;
  grid-template-columns: auto minmax(100px, 880px);
  gap: 50px;
}
.title-box {
  position: relative;
}
.title {
  text-align: center;
  font-size: 36px;
  line-height: normal;
  text-transform: uppercase;
}

.title-box .title::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $primary-text-color;
}

.collections-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards-block {
  margin: 0 auto;
  margin-top: 100px;
}

.image-block {
  height: 730px;
  background: url(../images/newCollection/background.png);
  background-size: no-repeat;
  background-position: left;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &__content {
    position: relative;
    padding-bottom: 100px;
  }
}

.line::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  bottom: 185px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $primary-text-color;
}

.catalog__button {
  margin-top: 60px;
}

@media screen and (max-width: 1440px) {
  .new-collection {
    height: auto;
    grid-template-columns: minmax(100px, auto);
  }
  .image-block {
    height: 530px;
    background-position: left;
    background-position: top;
  }
  .title-box {
    padding-top: 50px;
  }
}
@media screen and (max-width: 920px) {
  .new-collection {
    height: auto;
  }
  .image-block {
    background-position: left;
  }
}
