.old-collection {
  height: 600px;
  position: relative;
  background-color: $primary-color;
  display: grid;
  grid-template-columns: minmax(10px, 936px) auto;

  &__image-block {
    // width: 936px;
    background: url(../images/oldCollection/background.png);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__content-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  &__content {
    max-width: 628px;
    text-align: center;
  }
  &__title {
    position: relative;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  &__title::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 1px;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $primary-text-color;
  }

  &__text {
    margin-top: 80px;
    font-family: PT Sans;
    font-size: 14px;
    line-height: 150%;
  }
  &__button {
    margin-top: 64px;
  }
}

// @media screen and (max-width: 1260px) {

// }

@media screen and (max-width: 767px) {
  .old-collection {
    grid-template-columns: auto;
    &__image-block {
      display: none;
    }
  }
}
